<!DOCTYPE html>
<html>
<body>
<div th:fragment="head-fragment">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="Author" contect="http://blog.csdn.net/slience_me">
    <link rel="shortcut icon" th:href="@{/static/images/index/logo_orange.ico}"/>
    <link type="text/css" th:href="@{/static/css/common.css}" rel="stylesheet"/>
    <link type="text/css" th:href="@{/static/css/index.css}" rel="stylesheet"/>
    <link type="text/css" th:href="@{/static/css/login.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/static/js/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/vue.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/axios.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/plugins/layer/layer.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/myLayer.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/init.js}"></script>
</div>
</body>
</html>