{% extends 'base.html' %}
{% load static %}
{% block title %}
    - 图云总览界面 -
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/layuiadmin/login.css' %}" media="all">
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="/static/css/tuyun/common.css">
{% endblock %}
{% block content1 %}
    <div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login"
         style="display: none;background: #F2F2F2;">
        <h2>- PICTURE CLOUD -</h2>
        <h3>- 图云总览界面 -</h3>
        <h4>- 这里是游客上传的一些图片，大家共享！ -</h4>
        <ul class="site-doc-icon site-doc-anim" id="img-path">
        </ul>
        <div id="page-img"></div>
    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript" src="/static/js/tuyun/common.js"></script>
    <script type="text/javascript" src="{% static 'js/tuyun/lazyload.js' %}"></script>
{% endblock %}