<!DOCTYPE html>
<html>
<head th:include="common/head :: head-fragment"></head>
<head>
    <title>图云客户端 | 首页</title>
</head>
<body>
<div id="list">
    <header th:include="common/header :: header-fragment"></header>
    <div class="content">
        <div class="main">
            <div class="img-list" style="height: 300px;">
                <h3>暂无图片或您未登录!</h3>
            </div>
            <div class="clears"></div>
        </div>
    </div>

    <footer th:include="common/footer :: footer-fragment"></footer>
</div>
</body>
</html>