{% extends 'base.html' %}
{% load static %}
{% block content %}
    <blockquote class="layui-elem-quote layui-text">
        提示：该网站为图云网站，仅为个人学习网站，无任何盈利目的！ 免费提供。
    </blockquote>

    <!-- 示例-970 -->
    <ins class="adsbygoogle" style="display:inline-block;width:970px;height:90px"
         data-ad-client="ca-pub-6111334333458862" data-ad-slot="3820120620"></ins>

    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
        <legend>上传多张图片</legend>
    </fieldset>

    <div class="layui-upload">
        <button type="button" class="layui-btn" id="test2">多图片上传</button>
        <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
            预览图：
            <div class="layui-upload-list" id="demo2"></div>
        </blockquote>
    </div>
    <div style="width:300px;">
        <div class="layui-progress layui-progress-big" lay-showpercent="yes" lay-filter="demo">
            <div class="layui-progress-bar" lay-percent=""></div>
        </div>
    </div>
    </p>
    <div style="margin-top: 10px;"></div>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
        <legend>这里是照片的网站路径：</legend>
    </fieldset>
    <div id="urlpath" style="padding-top: 50px"></div>

{% endblock %}
{% block script %}
    <!-- 注意：如果你直接复制所有代码到本地，上述 JS 路径需要改成你本地的 -->
    <script>
        layui.use(['upload', 'element', 'layer'], function () {
            var $ = layui.jquery
                , upload = layui.upload
                , element = layui.element
                , layer = layui.layer;

            var uploadInst = upload.render({
                elem: '#test2'
                , url: 'show' //改成您自己的上传接口
                , multiple: true
                , before: function (obj) {

                    //预读本地文件示例，不支持ie8
                    $('#demo2').empty();
                    $('#urlpath').empty();
                    obj.preview(function (index, file, result) {

                        $('#demo2').append('<img src="' + result + '" alt="' + file.name + '" class="layui-upload-img" style="height: 300px; width: 300px;">')

                        element.progress('demo', '0%'); //进度条复位
                        layer.msg('上传中', {icon: 16, time: 0});
                    });
                }
                , done: function (res) {
                    //如果上传失败
                    if (res.code > 0) {
                        return layer.msg('上传失败');
                    }
                    //上传成功的一些操作
                    layer.msg('上传成功');
                    console.log(res);
                    var data = res.data.ImageFilePathList
                    console.log(data)

                    $.each(data, function (i, value) {
                        console.log(i)
                        console.log(value)
                        $('#urlpath').append('<input required lay-verify="required" autocomplete="off" class="layui-input" value="http://tuyun.slienceme.xyz' + data[i] + '" >')
                    })
                    $('#demoText').html(''); //置空上传失败的状态
                }
                , error: function () {
                    //演示失败状态，并实现重传
                    var demoText = $('#demoText');
                    demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                    demoText.find('.demo-reload').on('click', function () {
                        uploadInst.upload();
                    });
                }
                //进度条
                , progress: function (n, index, e) {
                    element.progress('demo', n + '%'); //可配合 layui 进度条元素使用
                    if (n == 100) {
                        layer.msg('上传完毕', {icon: 1});
                    }
                }
            });
        });
    </script>
{% endblock %}