<a class='layui-col-xs12 layui-col-sm4 layui-col-md2'>
    <div class='vip-goods-list'>
        <img src='" + jsonarray[kays].url + "' alt=''>
        <div class='vip-goods-footer'>
            <button class='look layui-btn layui-btn-xs layui-bg-red flt-left ' data-url='" + jsonarray[kays].url + "'>
                预览
            </button>
            <button class='copy layui-btn layui-btn-xs layui-bg-red flt-right' data-url='" + ' http://127.0.0.1:8000' + jsonarray[kays].url + "'>复制
            </button>
        </div>
    </div>
</a>