<head>
    <meta charset="UTF-8">
</head>
<body>
<div style="background-color:#ECECEC; padding: 35px;">
    <table cellpadding="0" align="center"
           style="width: 600px; margin: 0px auto; text-align: left; position: relative; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; font-size: 14px; font-family:微软雅黑, 黑体; line-height: 1.5; box-shadow: rgb(153, 153, 153) 0px 0px 5px; border-collapse: collapse; background-position: initial; background-repeat: initial;background:#fff;">
        <tbody>
        <tr>
            <th valign="middle"
                style="height: 25px; line-height: 25px; padding: 15px 35px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #EA743B; background-color: #EA743B; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px;">
                <font face="微软雅黑" size="5" style="color: rgb(255, 255, 255); ">注册成功!</font>
                <font face="微软雅黑" size="5" style="color: rgb(255, 255, 255);float:right;">图云PhotoCloud</font>
            </th>
        </tr>
        <tr>
            <td>
                <div style="padding:25px 35px 40px; background-color:#fff;">
                    <h2 style="margin: 5px 0px; ">
                        <font color="#333333" style="line-height: 20px; ">
                            <font style="line-height: 22px; " size="4">
                                亲爱的用户:</font>
                        </font>
                    </h2>
                    <p>首先感谢您加入图云的大家庭！下面是您的账号信息:<br>
                        您的账号：<b>{0}</b><br>
                    <div>
                        <a href="{1}/user/confirm?u={0}&code={2}" target=blank><span>点此激活账户</span></a><br>
                    </div>
                    请点击站点链接完成注册确认，链接有效期为{3}小时<br>
                    请您在使用本网站时，遵守当地法律法规。<br>
                    如果您有什么疑问可以联系管理员，Email: slience_me@foxmail.com
                    </p>
                    <p align="right">图云客户端</p>
                    <p align="right">{4}</p>
                    <div style="width:700px;margin:0 auto;">
                        <div style="padding:10px 10px 0;border-top:1px solid #ccc;color:#747474;margin-bottom:20px;line-height:1.3em;font-size:12px;">
                            <p>
                                <span>此为系统邮件，请勿回复</span><br>
                                <span>请保管好您的邮箱，避免账号被他人盗用</span><br>

                            </p>
                            <p><span>Copyright © 2021 Slience_me</span><br>
                                <span id="poweredby">Powered by <a href="{5}" target="_blank"
                                                                   title="Slience_me">Slience_me</a></span></p>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
