<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.slienceme.tuyun.mapper.LogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="xyz.slienceme.tuyun.pojos.Log">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="name" property="name" />
        <result column="operate_ip" property="operateIp" />
        <result column="operate_device" property="operateDevice" />
        <result column="operate_content" property="operateContent" />
        <result column="is_delete" property="isDelete" />
        <result column="created_time" property="createdTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, name, operate_ip, operate_device, operate_content, is_delete, created_time
    </sql>

</mapper>
